<footer class="row-footer">
  <div class="py-5 bg-inverse" id="footer">
              <div class="container">
                <div class="row">
                  <div class="col-md-9">
                  </div>
                  <div class="col-4 col-md-1 align-self-center">
                    <a href="https://www.facebook.com/randomuser1234567890" target="blank"><i class="fa fa-fw fa-facebook fa-3x text-white"></i></a>
                  </div>
                  <div class="col-4 col-md-1 align-self-center">
                    <a href="https://twitter.com/randomuser1234567890" target="blank"><i class="fa fa-fw fa-twitter fa-3x text-white"></i></a>
                  </div>
                  <div class="col-4 col-md-1 align-self-center">
                    <a href="https://www.instagram.com/randomuser1234567899" target="blank"><i class="fa fa-fw fa-instagram text-white fa-3x"></i></a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 my-3">
                    <p>© Copyright 2017 SUR+&nbsp;
                      <br>All rights reserved. </p>
                  </div>
                </div>
            </div>
    </div>
</footer>
