


<nav class="navbar navbar-full navbar-toggleable-md bg-primary navbar-expand-md fixed-top ">



  <div class="container">
    <a class="navbar-brand text-white" href="#cover">SUR+</a>




    <ul class="nav navbar-nav pull-lg-right navbar-right">
          <li class="nav-item w-100" ng-class="{active: stateis('app.')}">
            <a ui-sref="app.items" class="nav-link text-white">   Items   </a></li>


    </ul>



    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item w-100" ng-class="{active: stateis('app.')}">
        <a ui-sref="app.additem" class="nav-link text-warning">Upload!</a></li>

    </ul>

 <div class="collapse navbar-toggleable-md" id="mainNavbarCollapse">
      <ul class="nav navbar-nav pull-lg-right navbar-right">
            <li class="nav-item w-100" ng-class="{active: stateis('app.')}">
              <a ui-sref="app.items" class="nav-link text-white">   Items   </a></li>


      </ul>



      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item w-100" ng-class="{active: stateis('app.')}">
          <a ui-sref="app.additem" class="nav-link text-warning">Upload!</a></li>

      </ul>




    </div>
  </div>
</nav>
