




<!-- Big Blue Banner -->


<div class="py-5 section bg-primary" id="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img class="img-fluid d-block mx-auto" src="images/rectangle_u21.jpg"> </div>
      <div class="col-md-6 text-md-left align-self-center my-5">
        <h1 class="display-4">SUR+</h1>
        <h4>Place offers on your surplus materials now! Quick and easy. No need to register or log in.
          <br> </h4>
        <div class="row">
          <div class="col-md-12"></div>
        </div>
        <div class="row">
          <div class="col-md-12"> </div>
        </div>
        <div class="row mt-5">
          <div class="col-6 col-md-5">
            <a href="#cover"></a>
          </div>
          <div class="col-6 col-md-5">
            <a href="#cover"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- About Us -->

    <div class="py-5 text-left">
      <div class="container">
        <div class="row">
          <div class="col-md-6 align-self-center my-3">
            <h2 class="text-primary my-3">About us</h2>
            <p class="lead">SUR+ was founded in 2017 with the intention of providing people whom have surplus materials the opportunity to sell them without even needing to register a username.
              <br>
              <br>We, Hornamental Co were founded also this year with SUR+ being our first successful development. A major thank you for being a part of our endeavours. </p>
          </div>
          <div class="col-md-6 my-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Champaign_Surplus_Champaign_Illinois_20080301_4245.jpg/1280px-Champaign_Surplus_Champaign_Illinois_20080301_4245.jpg" class="img-fluid d-block mx-auto"> </div>
        </div>
      </div>
      <div class="py-5 text-left">
        <div class="container">
          <div class="row">
            <div class="col-md-4 align-self-center my-3">
              <h2 class="text-primary my-3">Location</h2>
              <p class="lead">13-L, 57th Street, Yougangsbridge, 09145, Hummermach, Lougenburg.</p>
            </div>
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-12">
                  <img class="img-fluid d-block mx-auto" src="images\Roadview.jpg" height="300" width="300"> </div>
              </div>
            </div>
            <div class="col-md-4">
              <img class="img-fluid d-block mx-auto" src="images\mapcontactus.png" height="350" width="350"> </div>
          </div>
          <div class="col-md-4 my-3"> </div>

          <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&amp;callback=initMap">
          </script>
        </div>
        <div class="py-5 text-left">
          <div class="container">
            <div class="row">
              <div class="col-md-6 align-self-center my-3">
                <h2 class="text-primary my-3">Contact us via...</h2>
                <p class="lead">Telephone: +0800 101 101
                  <br>Fax: +555 4954 4954
                  <br>e-mail: sampletext@randomaddress.com
                  <br>
                  <br>
                  <br> </p>
              </div>
              <div class="col-md-6 my-3">
                <img src="images\fa0718dd1ddb4fc7a84cfd64cd424fc1.jpg_srz_323_215_85_22_0.50_1.20_0.jpeg" class="img-fluid d-block mx-auto"> </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-4 col-md-3 align-self-center">
                    <a href="https://www.facebook.com/randomuser1234567890" target="blank"><i class="fa fa-fw fa-facebook fa-3x"></i></a>
                  </div>
                  <div class="col-4 col-md-3 align-self-center">
                    <a href="https://twitter.com/randomuser1234567890" target="blank"><i class="fa fa-fw fa-twitter fa-3x"></i></a>
                  </div>
                  <div class="col-4 col-md-3 align-self-center">
                    <a href="https://www.instagram.com/randomuser1234567899" target="blank"><i class="fa fa-fw fa-instagram fa-3x"></i></a>
                  </div>
                  <div class="col-md-3"> </div>
                </div>
              </div>
              <div class="col-md-6"> </div>
            </div>
          </div>
        </div>
